<!DOCTYPE html>
<html lang="en">
<head>
    head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/home.css">

<body>
<div id="content"></div>
<div id="firebase">
    <div id="editF"></div>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyD5NykbtL6dnB9YdvxD9boqZb4EUrYRnbM",
            authDomain: "tanghoa01-1bfb9.firebaseapp.com",
            projectId: "tanghoa01-1bfb9",
            storageBucket: "tanghoa01-1bfb9.appspot.com",
            messagingSenderId: "656737352140",
            appId: "1:656737352140:web:c93cea5bd189ff46c30569",
            measurementId: "G-XYXE3XCE7H"
        };
        firebase.initializeApp(firebaseConfig);
    </script>
    <script src="../js/login.js"></script>

</div>
<script src="../javascript/login.js"></script>
</head>
</body>
</html>